<div ng-controller="UpdateProjectController">
    <h2> Update {{ project.name }}</h2>
    <p>Name <input type="text" ng-model="project.name" /></p>
    <p>Active Start Date: </p>
    <md-datepicker ng-model="project.active_start_date" md-placeholder="Enter date"></md-datepicker>
    <p>Active End Date: </p>
        <md-datepicker ng-model="project.active_end_date" md-placeholder="Enter date"></md-datepicker>
    <p>Client Name: <input type="text" ng-model="project.client_name" /></p>
    <p>Description: <input type="text" ng-model="project.description" /></p>
    <p>Git URL: <input type="text" ng-model="project.git_url" /></p>
    <p>Testing URL: <input type="text" ng-model="project.testing_url" /></p>
    <p>Production URL:  <input type="text" ng-model="project.production_url" /></p>
    <div ng-repeat="entry in libraries">
        <input type="checkbox" ng-model="entry.checked"> {{entry.library}} {{ entry.version_number }}
    </div>
    <button ng-click="save()">Save</button><br />
    <a ng-href="{{'#!/'}}">Back to Home Page</a>
</div>